<section data-ng-controller="ReviewsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reviews</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="review in reviews" data-ng-href="#!/reviews/{{review._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="review.created | date:'medium'"></span>
				by
				<span data-ng-bind="review.user.displayName"></span>
			</small>
            <h4 class="list-group-item-heading">
                <span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!review.evaluations.spelling"></span>
                <span class="control-label glyphicon glyphicon-remove" style="color:red" data-ng-hide="review.evaluations.spelling"></span>
                Orthographe - 
                <span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!review.evaluations.content"></span>
                <span class="control-label glyphicon glyphicon-remove" style="color:red" data-ng-hide="review.evaluations.content"></span>
                Contenu - 
                <span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!review.evaluations.shape"></span>
                <span class="control-label glyphicon glyphicon-remove" style="color:red" data-ng-hide="review.evaluations.shape"></span>
                Forme - 
                <span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!review.evaluations.neutrality"></span>
                <span class="control-label glyphicon glyphicon-remove" style="color:red" data-ng-hide="review.evaluations.neutrality"></span>
                Neutralité
            </h4>
			<p data-ng-bind="review.comment"></p>
            <p data-ng-bind="review.article.title"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reviews.$resolved || reviews.length">
    	No Reviews yet, why don't you <a href="/#!/reviews/create">create one</a>?
    </div>
</section>