<section data-ng-controller="ArticlesController">
	<form class="form-horizontal" data-ng-submit="create()" name="article" novalidate>
		<br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Nouvelle fiche</h3>
			</div>
			<div class="panel-body">
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

				<div class="form-group" ng-class="{'has-error': ! article.title.$valid}">
					<label class="col-md-2 control-label" for="title">Title</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="title" name="title" class="form-control" placeholder="Title" required>
					</div>
					<span ng-show="article.title.$error.required">The title is required.</span>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="authors">Authors (séparés d'un point virgule)</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="authorsCommaSeparated" id="authors" class="form-control" placeholder="Authors">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="tags">Tags (séparés d'un point virgule)</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="tagsCommaSeparated" id="tags" class="form-control" placeholder="Tags">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="url">Url</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="url" id="url" class="form-control" placeholder="Url">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="language">Language</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="language" id="language" class="form-control" placeholder="Language">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="format">Format</label>
					<div class="col-md-10 controls">
						<input type="text" data-ng-model="format" id="format" class="form-control" placeholder="Format">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="description">Description</label>
					<div class="col-md-10 controls">
						<textarea data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
			</div>
		</div>



		<div class="form-group">
			<a href="" class="btn btn-primary" data-ng-click="render()">Aperçu</a>
		</div>

		<div class="panel panel-primary" data-ng-hide="!prerender.ok">
			<div class="panel-heading">
				<h3 class="panel-title">Aperçu</h3>
			</div>
			<div class="panel-body">
				<h1 data-ng-bind="prerender.title"></h1>
				<div>
					Auteurs :
					<span data-ng-repeat="author in prerender.authors">
						<span class="label label-warning" target="_blank">{{author.name}}</span>
					</span>
				</div>
				<div>
					Tags :
					<span data-ng-repeat="tag in prerender.tags">
						<span class="label label-info">{{tag}}</span>
					</span>
				</div>
				<p class="">Langue : <span data-ng-bind="prerender.language"></span></p>
				<p class="" ng-hide="prerender.noUrl">Adresse :
					<span class="label label-default">page du jeu</span>
					<span class="label label-default">archive</span>
				</p>
				<p class="">Format : <span data-ng-bind-html="prerender.format"></span></p>
				<p class="lead" data-ng-bind-html="prerender.description"></p>
			</div>
		</div>


		<div class="form-group">
			<a href="" class="btn btn-primary" data-ng-hide="!prerender.ok" data-ng-click="review=true">Passer en revue</a>
		</div>

		<div class="panel panel-primary" data-ng-hide="!review">
			<div class="panel-heading">
				<h3 class="panel-title">Revue</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-2 control-label" for="spelling">Orthographe</label>
					<div class="col-md-2 btn-group">
						<button type="button" class="btn" ng-class="(evaluations.spelling) ? 'btn-primary' : 'btn-default'" id="spelling" ng-click="evaluations.spelling = true">Oui</button>
						<button type="button" class="btn" ng-class="(evaluations.spelling) ? 'btn-default' : 'btn-primary'" ng-click="evaluations.spelling = false">Non</button>
					</div>
					<div>
						<span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!evaluations.spelling"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="content">Contenu</label>
					<div class="col-md-2 btn-group">
						<button type="button" class="btn" ng-class="(evaluations.content) ? 'btn-primary' : 'btn-default'" id="content" ng-click="evaluations.content = true">Oui</button>
						<button type="button" class="btn" ng-class="(evaluations.content) ? 'btn-default' : 'btn-primary'" ng-click="evaluations.content = false">Non</button>
					</div>
					<div>
						<span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!evaluations.content"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="shape">Forme</label>
					<div class="col-md-2 btn-group">
						<button type="button" class="btn" ng-class="(evaluations.shape) ? 'btn-primary' : 'btn-default'" id="shape" ng-click="evaluations.shape = true">Oui</button>
						<button type="button" class="btn" ng-class="(evaluations.shape) ? 'btn-default' : 'btn-primary'" ng-click="evaluations.shape = false">Non</button>
					</div>
					<div>
						<span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!evaluations.shape"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="neutrality">Neutralité</label>
					<div class="col-md-2 btn-group">
						<button type="button" class="btn" ng-class="(evaluations.neutrality) ? 'btn-primary' : 'btn-default'" id="neutrality" ng-click="evaluations.neutrality = true">Oui</button>
						<button type="button" class="btn" ng-class="(evaluations.neutrality) ? 'btn-default' : 'btn-primary'" ng-click="evaluations.neutrality = false">Non</button>
					</div>
					<div>
						<span class="control-label glyphicon glyphicon-ok" style="color:green" data-ng-hide="!evaluations.neutrality"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label" for="comment">Comment</label>
					<div class="col-md-10">
						<textarea data-ng-model="comment" id="comment" class="form-control" placeholder="Comment"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div data-ng-show="error" class="text-danger">
			<strong data-ng-bind="error"></strong>
		</div>
		{{evaluations|json}}
		<div class="form-group" data-ng-hide="!review">
			<input type="submit" class="btn btn-warning">
		</div>
	</form>
</section>