server {
    listen      80;
    server_name {{ server_name }};
    return      301 https://$server_name$request_uri;
}

server {
    listen      443;
    server_name {{ server_name }};

    ssl on;
    ssl_certificate     /etc/nginx/ssl/server.crt;
    ssl_certificate_key /etc/nginx/ssl/server.key;

    access_log  /var/log/nginx/{{ server_name }}.access.log;
    error_log   /var/log/nginx/{{ server_name }}.error.log;
    
    location / {
        proxy_pass http://localhost:3000;
    }

    location /public/ {
        root /home/legrog/LeGrogJdRA/public;
    }
}